div#parentContainer {
        grid-template-areas:
                    "header"
                    "nav"
                    "main-content"
                    "footer";
    
            grid-template-columns: auto;
        //     max-width: 64rem;
            margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header {
        img {
                margin-left: 1rem;
        }
}



/*----------- NAVIGATION --------------*/
nav ul li {
        flex-basis: auto;

}

nav ul li a {
        display: block;
        background-color: lighten($menuColor, 30%);
        color: black;
        padding: 1rem 0;
        text-decoration: none;
        font-size: 1.1rem;
        padding: .6rem 1rem;
        text-align: left;
    }

    nav ul {
        background-color: lighten($menuColor, 30%);
    }


/*----------- MAIN --------------*/

main {
        grid-area: main-content;
        padding: 0 2%;
        min-height: 10rem;
        background-color: $primaryColor;
    
        .parent {
    
            h2 {
                font-size: 17px;
            }
    
            p {
                font-size: 15px;
            }
    
            .one {
                margin-bottom: 5rem;
    
                .img {
                    float: right;
                    
                    img {
                        height: 250px;
                    }
                }
            }
    
            .two {
                margin-bottom: 5rem;
    
                .img {
                    float: left;
                    margin-right: 1rem;
                    
                    
                    img {
                        height: 250px;
    
                    }
                }
    
            }
    
            .three {
                margin: 1rem;
    
                .img {
                    float: right;
    
                    img {
                        height: 250px;
                    }
                }
    
            }
    
        }
    
        h1 {
            margin: 0;
            padding: 1rem 0 0 0;
            margin-bottom: 1rem;
            font-size: 30px;
        }
    
        h2 {
            font-size: 30px;
        }
    
    
        p {
            margin: 0;
            padding: .5rem 0;
            font-size: 20px;
            font-weight: $regularWeight;
            font-family: $fontFamily;
            font-size: 20px;
        }
    }


/*----------- FOOTER --------------*/
    
