div#parentContainer {
        grid-template-areas:
                    "header"
                    "nav"
                    "main-content"
                    "footer";
    
            grid-template-columns: auto;
            max-width: 64rem;
            margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header {
        img {
                margin-left: 1rem;
        }
}



/*----------- NAVIGATION --------------*/
nav ul li {
        flex-basis: auto;

}

nav ul li a {
        display: block;
        background-color: lighten($menuColor, 30%);
        color: black;
        padding: 1rem 0;
        text-decoration: none;
        font-size: 1.1rem;
        padding: .6rem 1rem;
        text-align: left;
    }

    nav ul {
        background-color: lighten($menuColor, 30%);
    }


/*----------- MAIN --------------*/




/*----------- FOOTER --------------*/
    
