div#parentContainer {
    grid-template-areas:
                "header header"
                "nav main-content"
                "footer footer";

        grid-template-columns: 150px auto;
}


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

    a.jump {
        display: none;
    }


    nav {
        height: auto;
        background-color: darken($secondaryColor, 20%);

        ul {
            background-color: lighten($menuColor, 70%);
        }

    }



/*----------- MAIN --------------*/

main {
    grid-area: main-content;
    padding: 0 2%;
    min-height: 10rem;
    background-color: $primaryColor;

    .parent {

        .one {
            margin: 1rem;

            p {
                font-size: 30px;
            }

            h2 {
                font-size: 30px;
            }

            .img {
                float: right;
                
                img {
                    height: 250px;
                }
            }
        }






        .two {
            margin: 1rem;

            p {
                font-size: 30px;
            }

            h2 {
                font-size: 30px;
            }

            .img {
                float: left;
                margin-right: 1rem;
                
                img {
                    height: 250px;
                }
            }
        }







        .three {
            margin: 1rem;

            p {
                font-size: 30px;
            }

            h2 {
                font-size: 30px;
            }

            .img {
                float: right;
                margin-left: 1rem;
                
                img {
                    height: 250px;
                }
            }
        }





    h1 {
        margin: 0;
        padding: 1rem 0 0 0;
        margin-bottom: 1rem;
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }


    p {
        margin: 0;
        padding: .5rem 0;
        font-size: 20px;
        font-weight: $regularWeight;
        font-family: $fontFamily;
        font-size: 20px;
    }
}
}


/*----------- FOOTER --------------*/
    
