div#parentContainer {
    grid-template-areas:
                "header header"
                "nav main-content"
                "footer footer";

        grid-template-columns: 150px auto;
}


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

    a.jump {
        display: none;
    }


    nav {
        height: auto;
    }



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
