div#parentContainer {
    grid-template-areas:
                "header header"
                "nav main-content"
                "footer footer";
}


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

    a.jump {
        display: none;
    }


    nav {


        ul {
            margin-left: 2%;
        }


        ul li {
            flex-basis: 25%;
        }


        ul li a {
            padding: .5rem 1rem;
            }

            
    }



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
