/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


div#parentContainer {
    display: grid;
    grid-template-areas:
                "hamburger"
                "header"
                "main-content"
                "footer"
                "nav";
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    grid-area: header;
    padding: .5rem 2%;
    background-color: darken($secondaryColor, 15%);
    
    h1 {
        margin: 0;
    }
    h2 {
        margin: 0;
        font-weight: normal;
    }
}



/*----------- NAVIGATION --------------*/
a.jump{
    display: block;
    width: 60px;
    color: white;
    font-size: 3rem;
    padding: .4rem;
    text-decoration: none;
    padding-left: 2%;
}

nav {
    grid-area: nav;
    background-color: black;
    height: 100vh;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: lighten($menuColor, 40%);
}
nav ul li {
    flex-basis: 100%;
}

nav ul li a {
    display: block;
    background-color: rgba(0,0,0,0.2);
    color: black;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 1rem;
    text-align: left;
}


nav ul li a:hover {
    background-color: lighten($menuColor, 50%);
}
nav ul li.active a {
    background-color: lighten($menuColor, 10%);
    color: black;
    border: 1px solid gray;
}


/*----------- HAMBURGER --------------*/
div#hamburger {
    grid-area: hamburger;
    background-color: black;
}


/*----------- MAIN --------------*/
main {
    grid-area: main-content;
    padding: 0 2%;
    min-height: 10rem;
    background-color: $primaryColor;

.parent {
    // display: grid;
    // grid-template-columns: 1fr 2fr 1fr;
    // grid-template-rows: auto;
}

    h1 {
        margin: 0;
        padding: 1rem 0 0 0;
        margin-bottom: 1rem;
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

    img {
        width: 100%;
    }

    p {
        margin: 0;
        padding: .5rem 0;
        font-size: 20px;
        font-weight: $regularWeight;
        font-family: $fontFamily;
        font-size: 20px;
    }
}


/*----------- FOOTER --------------*/
footer {
    grid-area: footer;
    color: white;
    background-color: darken($menuColor, 20%);
    padding: 2rem 2%;
    text-align: center;
    font-size: 20px;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}